/*
* Meaghan O'Brien 
* Due Date
* Heroes Table
*/

/* The universal selector */

* {

}

/* Body attributes here */

body { background-color: pink;

}
table, td, th { border: 1px solid blue; }
table { border-collapse: collapse; }
thead { background-color: lime; }
tfoot { background-color: deepskyblue; }